.end_day {
	border: 1px black solid;
	width:1000px;
}

h3 {
	font-family:Orbitron;
	font-size:1.8em;
}

h1 {
	font-family:Lobster
}

h2 {
	font-family:Amatic SC;
	font-size:2.3em;
}

li {
	font-size:1.6em;
}

.liner {
	font-size:1.2em;
}

.lines {
	border-radius: 20px;
	text-align:justify;
	padding: 10px;
	border:1px solid brown; width:50%;
	font-family:Courier; font-size:1.2em;
}

.little_font {
	font-family: 'Indie Flower';
	font-size: 1.5em;
}

.big_font {
	font-family: 'Indie Flower';
	font-size: 1.9em;
}

.a {
	font-family:Cinzel;
	font-size: 1.5em;
}

.little_rus {
	font-family:Lobster;
	font-size: 1.5em;
}
