body{
  background-color: rgb(203, 235, 255);
}

h1{
  font-family: Anton;
  font-size: 50px;
}

h2{
  font-family:Exo;
  font-size: 40px;
}

h3{
  font-family:Lobster;
  font-size: 20px;
}

h4{
  font-family:Modak;
  padding-left: 5em;
  font-size: 25px;
}

little_class {
  font-family:Modak;
  font-size: 10px;
}
